.page-mv {
  background: url(../img/mv.png) center / cover;
  color: white;
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
}
.news {
  width: 80%;
  margin: 80px auto ;

}

.news-item-link {
  display: flex;
  align-items: center;
  border: 1px solid black;
  color: black;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 14px;
  padding: 20px;
}
.news-item-date {
  margin: 0 10px;
}

/*@media screen and (max-width: 768px) {
  .news-item-link {
    padding: 10px;
    font-size: 14px;
  }
}*/