.page-mv {
  background: url(../img/mv.png) center / cover;
  color: white;
  display: flex;
  justify-content: center;
  height: 400px;
  align-items: center;
}
.service-list {
  margin: 30px 0;
}
.service-item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  padding: 20px 0;
  justify-content: space-between;
}
.service-item:last-child {
  border-bottom: 1px solid black;
}
.service-item-img {
  width: 300px;
}
.service-item-detail{
	width: calc(100% - 340px);
}
.service-item-ttl {
  font-size: 20px;
}
.wrap {
  width: 80%;
}
@media screen and (max-width: 768px) {
  .service-item-detail {
    width: 100%;
  }
  .service-item-img {
    width: 100%;
  }
}
